.experience-container {
  display: flex;
  justify-content: center;
}

.experience-description {
  position: sticky;
  top: 20px;
  align-self: start;
}

.experience-card-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.experience-card-wrapper {
  width: 60vw;
}

.experience-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 12px;
  cursor: pointer;
}

.experience-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.job-information {
  text-align: left;
  flex: 1;
  margin-left: 15px;
}

.job-information p {
  margin: 4px;
}

.job-title {
  font-weight: bold;
  color: var(--text-color);
}

.company {
  color: #a9a9bd;
  font-size: 0.9rem;
}

.job-date {
  min-width: 120px;
  text-align: right;
  color: #a9a9bd;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  color: var(--text-color);
  border-bottom: 1px solid #a9a9bd;;
}

.dropdown-inner {
  padding: 12px;
}

.dropdown-inner ul {
  padding-left: 20px;
  margin: 0;
}

.dropdown-inner li {
  margin-bottom: 6px;
  list-style-type: disc;
  color: var(--text-color);
  text-align: left;
}


.dropdown-content.open {
  max-height: 300px; 
  padding: 12px;
}

@media (max-width: 768px) {
  .experience-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .experience-description {
    position: static;
    top: auto;
  }

  .experience-image-container {
    width: 40px;
    height: 40px;
  }

  .job-title {
    font-size: 4vw;
  }

  .company,
  .job-date,
  .dropdown-inner li {
    font-size: 3.5vw;
  }

  .experience-card-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
}