.experience-container {
  display: flex;
  justify-content: center;
}

.experience-description {
  position: sticky;
  top: 20px;
  align-self: start;
}

.experience-card-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.experience-card-wrapper {
  width: 60vw;
}

.experience-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 12px;
  cursor: pointer;
}

.experience-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.job-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.job-information {
  text-align: left;
  flex: 1;
  margin-left: 15px;
  justify-content: center;
  align-self: center;
}

.job-information p {
  margin: 4px;
}

.job-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: clamp(1rem, 1.5vw, 1.5rem); 
}

.company {
  color: #a9a9bd;
  font-size: clamp(0.75rem, 1.25vw, 1rem);
}

.job-date {
  min-width: 100px;
  text-align: right;
  color: #a9a9bd;
  font-size: clamp(0.75rem, 1.2vw, 0.9rem);
    justify-content: center;
  align-self: center;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  color: var(--text-color);
  border-bottom: 1px solid #a9a9bd;;
}

.dropdown-inner {
  padding: 12px;
}

.dropdown-inner ul {
  padding-left: 20px;
  margin: 0;
}

.dropdown-inner li {
  margin-bottom: 6px;
  list-style-type: disc;
  color: var(--text-color);
  text-align: left;
  font-size: clamp(0.75rem, 2.5vw, 0.95rem);
}

.dropdown-content.open {
  max-height: 300px; 
  padding: 12px;
}

@media (max-width: 768px) {
  .experience-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .experience-card {
    height: auto;              
    align-items: flex-start;   
    min-height: 75px;
  }

  .experience-description {
    position: static;
    top: auto;
  }


  .job-title {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
  }

  .company,
  .job-date {
    font-size: clamp(0.8rem, 3.5vw, 1rem);
  }

  .dropdown-inner li {
    font-size: clamp(0.75rem, 2.5vw, 0.95rem);
  }
  
  .dropdown-content {
    height: 0; 
    overflow: hidden;
    transition: height 0.3s ease;
    color: var(--text-color);
    border-bottom: 1px solid #a9a9bd;
  }

  .experience-card-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
}