.project-card-container {
  border: 5px solid var(--secondary-background-color);
  background-color: var(--secondary-background-color);
  width: 25vw;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card-container.selected {
  border-color: var(--primary-color);
  border-radius: 15px;
  z-index: 1000;
}

.project-image-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey;
  height: 50%;
}

.project-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-content {
  height: 45%;
  margin: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.95vw;
  position: relative;
}

/* Project Name */
.project-content h2 {
  margin: 0;
  /* text-align: center; */
  font-size: 1.5vw;
}

/* Project Description */
.project-content p {
  flex: 1;
  margin-top: 5px;
  /* font-size: 1vw; */
}

.project-technologies {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}

/* For screen widths between 600px and 800px */
@media (min-width: 600px) and (max-width: 800px) {
  .project-card-container {
    background-color: var(--secondary-background-color);
    width: 80vw;
    height: 75vh;
    box-sizing: border-box; /* Ensures padding is included within the height/width */
    overflow: hidden; /* Prevents overflow */
  }

  .project-image-container {
    background-color: grey;
    height: 50%; /* Slightly reduced to give more space for content */
  }

  .project-content {
    padding: 10px; /* Reduced padding to avoid overflow */
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 3vw; /* Slightly reduced font size */
    position: relative;
    overflow: hidden; /* Prevents content from overflowing */
  }

  .project-content h2 {
    margin: 0;
    text-align: center;
    font-size: 5vw; /* Slightly reduced font size */
  }

  .project-technologies {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    margin-top: auto;
  }
}

/* Screens such as phone screens */

@media (max-width: 600px) {
  .project-card-container {
    border: 5px solid var(--secondary-background-color);
    background-color: var(--secondary-background-color);
    width: 75vw;
    height: 50vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .project-image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: grey;
    height: 40%;
  }

  .project-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .project-content {
    height: 55%;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    position: relative;
  }

  /* Project Name */
  .project-content h2 {
    margin: 0;
    font-size: 2rem;
    white-space: nowrap;
  }

  /* Project Description */
  .project-content p {
    flex: 1;
    margin-top: 5px;
  }

  .project-technologies {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 10px;
  }
}
