.project-card-container {
  border: 5px solid var(--background-color);
  background-color: var(--secondary-background-color);
  width: 30vw;
  height: 60vh;
  border-radius: 15px;
}

.project-card-container.selected {
  border-color: var(--primary-color);
  border-radius: 15px;
  z-index: 1000;
}

.project-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey;
  height: 50%;
}

.project-content {
  height: 40%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.3vw;
  position: relative;
}

.project-content h2 {
  margin: 0;
  text-align: center;
  font-size: 2vw;
}

.project-content p {
  flex: 1;
}

.project-technologies {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  margin-top: auto;
}

.technology {
  padding: 3%;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2vw;
}

/* For Phones and Smaller Screens */
@media (max-width: 768px) {
  .project-card-container {
    background-color: var(--secondary-background-color);
    width: 80vw;
    height: 55vh;
  }

  .project-image {
    background-color: grey;
    height: 55%;
  }

  .project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 3.5vw;
  }

  .project-content h2 {
    margin: 0;
    text-align: center;
    font-size: 6vw;
  }

  .technology {
    padding: 3%;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: white;
    font-size: 3vw;
  }
}
