.social-link {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-link:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}

.icon-container {
  width: 32px;
  height: 32px;
}
