.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-link:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.name-container p {
  font-size: 2rem;
}