.social-link {
  display: inline-block;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-link:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5vh;
  height: 4.5vh;
}
