.header-container {
  z-index: 1001;
  padding: 5px;
  color: var(--primary-color);
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100vw;
  min-width: 500px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition:
    width 0.2s ease,
    top 0.2s ease,
    height 0.2s ease,
    border-radius 0.2s ease,
    background-color 0.2s ease;
}

.header-name-container {
  margin-left: 20px;
  width: 33%;
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  white-space: nowrap;
}

.header-name-container h1 {
  font-size: clamp(1.5rem, 0.75vw, 1.5rem);
}

.header-name-container h1:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.nav-container {
  margin-right: 2.5%;
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.theme-button-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.header-container p {
  font-size: clamp(1rem, 0.5vw, 1.5rem);
  font-weight: 700;
}

.nav-container p:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.name-container p:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

button {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button svg {
  color: inherit;
}

button:hover {
  color: #a9a9a9;
}

.header-link-container {
  display: flex;
  gap: 15px;
}

.nav-toggle {
  display: none;
  font-size: 32px;
  columns: #fff;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .header-container {
    width: 100%;
    min-width: 500px;
    height: 5vh;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
  }

}


@media (max-width: 768px) {
  .header-container {
    width: 100%;
    min-width: 80vw;
    height: 5vh;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
  }

  .header-name-container {
    width: 20%;
    justify-content: center;
    align-items: center;
  }

  .nav-container {
    width: 70%;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .theme-button-container {
    width: 10%;
    justify-content: flex-end;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }

  .nav-container p {
    font-size: clamp(1rem, 1vw, 1.25rem);
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .header-container {
    min-width: 90vw;
  }

  .header-name-container {
    width: 10%;
  }

  .nav-container {
    width: 80%;
  }

  .nav-container p {
    font-size: clamp(0.9rem, 1vw, 1.0rem);
    font-weight: 700;
  }
}

@media (max-width: 300px) {
  .header-container {
    min-width: 100vw;
  }
  .header-name-container {
    width: 10%;
  }

  .nav-container {
    width: 80%;
  }
  
  .nav-container p {
    font-size: clamp(0.65rem, 1vw, 1.0rem);
    font-weight: 700;
  }
}

