.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: var(--content-width);
}

@media (max-width: 768px) {

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
