.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

/* For Phones and Smaller Screens */
@media (max-width: 768px) {
  .project-showcase {
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
