.link {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 25px;
}

.link:hover {
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  align-items: center;
  color: white;
}

.link-icon-container {
  width: 3.5vh;
  height: 3.5vh;
  margin: 5px;
}

.link-text-container {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 10px;
}
