.link {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 6.5vw;
  height: 5vh;
  border-radius: 25px;
}

.link:hover {
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.link-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  margin: 5px;
}

.link-text-container {
  font-size: 1.2rem;
  font-weight: 700;
}
